{% extends 'AppCoder/padre.html' %}

{% block contenidoQueCambia%}
<!DOCTYPE html>
 <html lang="en">

 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Editar Curso</title>
 </head>

 <body style="background-color: green;">
     <form action="{% url 'AppCoder:curso-update' curso.pk %}" method="POST">
         {% csrf_token %}
         {{ form.as_p }}
         <input type="submit" value="Editar">
     </form>
 </body>

 </html>
{% endblock%}