{% extends "AppCoder/padre.html" %}
{% block contenidoQueCambia %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    h1 {
        color: navy;
        text-align: center;
    }
    .curso-details {
        background-color: lightgray;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
    }
    a {
        background-color: blue;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        margin-top: 20px;
    }
    a:hover {
        background-color: darkblue;
    }
</style>

<div class="curso-details">
    <p>{{ nombre }}</p>
    <h1>Detalle del curso</h1>
    <p>{{ curso.curso }} - camada: {{ curso.camada }}</p>
    <a href="{% url 'AppCoder:curso-list' %}">Regresar</a>
</div>

{% endblock %}
