{% extends "AppCoder/padre.html" %}

{% block contenidoQueCambia %}
<!-- y todo esto para darle estilo (color, fuente, etc.) -->
<style>
    .messages {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .info, .success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    .warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

    .error {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    .messages li {
        margin: 5px 0;
        padding: 5px;
    }
</style>

<!-- Agregué esto para el mensaje -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div style="font-family: Arial, sans-serif; padding: 20px; background-color: #f4f4f4; max-width: 600px; margin: auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h4 style="color: #4a90e2; border-bottom: 2px solid #4a90e2; padding-bottom: 10px;">Lista de cursos</h4>

    <!-- Button for "Create Curso" -->
    <button style="background-color: #4CAF50; color: white; padding: 8px 12px; border: none; border-radius: 5px; cursor: pointer; margin-bottom: 15px;">
        <a href="{% url 'AppCoder:curso-create' %}" style="color: white;">Nuevo</a>
    </button>

    <div style="margin-top: 20px;">
    {% for curso in cursos %}
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h6 style="color: #333; background-color: #eaf2ff; padding: 8px; border-radius: 5px; margin-bottom: 10px; flex-grow: 1;">
                {{curso.curso}} ({{curso.camada}})
            </h6>
            <div>
                <button style="background-color: #4a90e2; color: white; padding: 8px 12px; border: none; border-radius: 5px; cursor: pointer; margin-left: 10px;">
                    <a href="{% url 'AppCoder:curso-update' curso.pk %}" style="color: white;">Editar</a>
                </button>
                <button style="background-color:  #FF5733; color: white; padding: 8px 12px; border: none; border-radius: 5px; cursor: pointer; margin-left: 10px;">
                    <a href="{% url 'AppCoder:curso-delete' curso.pk %}" style="color: white;">Eliminar</a>
                </button>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
